In [1]:
import numpy as ny
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express  as px
import seaborn as sns

In [2]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\ctc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\ctc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\ctc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\ctc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.5.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\ctc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\ctc\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
from sklearn.impute import SimpleImputer

In [5]:
data=sns.load_dataset("titanic")

In [6]:
imputer=SimpleImputer(strategy='mean')

In [7]:
data['age']=imputer.fit_transform(data[['age']])

In [8]:
data['age'].isnull().sum()

np.int64(0)

#we can also impute by using sk learn

In [9]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

#multi varied  imputation

from sklearn.impute import SimpleImputer

In [10]:
from sklearn.impute import SimpleImputer

#from sklearn.experimental import
#enable_iterative_imputer
#from sklearn.impute import lterativeImputer

In [11]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [12]:
from sklearn.impute import KNNImputer

In [20]:
imputer=KNNImputer(n_neighbors=5)
data['age']=imputer.fit_transform(data[['age']])

In [ ]:
+-9/