# Data Inconsistency

Data Inconsistency in types of dates,dates formates convert into one format

inconsistent names convension  like usa unites states change into one form

type of graphical error mistake in data  entry , typing mistakes  ex:Indie,India,INDIA

contradictory data like father and sons age

duplication data like row and columns

In [17]:
import numpy as ny
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express  as px
import seaborn as sns
from sklearn.impute import SimpleImputer

In [18]:
data = {
    'date': ['2021-12-01', '01-12-2022', '2022/12/01', '12-01-2021'],
    'country': ['USA', 'U.S.A.', 'America', 'United States'],
    'name': ['Aammar', 'Amaar', 'Hamza', 'Hazma'],
    'sales_2020': [100, 200, None, 200],
    'sales_2021': [None, 150, 300, 150]
}

In [19]:
df=pd.DataFrame(data)
print(df)

         date        country    name  sales_2020  sales_2021
0  2021-12-01            USA  Aammar       100.0         NaN
1  01-12-2022         U.S.A.   Amaar       200.0       150.0
2  2022/12/01        America   Hamza         NaN       300.0
3  12-01-2021  United States   Hazma       200.0       150.0

In [20]:
df['date']=pd.to_datetime(df['date'],errors="coerce")
df['date']

0   2021-12-01
1          NaT
2          NaT
3          NaT
Name: date, dtype: datetime64[ns]

In [21]:
df.head()

        date        country    name  sales_2020  sales_2021
0 2021-12-01            USA  Aammar       100.0         NaN
1        NaT         U.S.A.   Amaar       200.0       150.0
2        NaT        America   Hamza         NaN       300.0
3        NaT  United States   Hazma       200.0       150.0

In [22]:
df['date']=df['date'].dt.strftime('%Y-%m-%d')
df.head()

         date        country    name  sales_2020  sales_2021
0  2021-12-01            USA  Aammar       100.0         NaN
1         NaN         U.S.A.   Amaar       200.0       150.0
2         NaN        America   Hamza         NaN       300.0
3         NaN  United States   Hazma       200.0       150.0

In [ ]:
df['date']=df[''].fillna()