In [6]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Alice','Bob','Chicago'],
    'Age' : [ 25,30,35],
    'City' : ['New York','Los Angeles','Chicago']
    }

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Chicago   35      Chicago

In [7]:
print(df['Name'])

0      Alice
1        Bob
2    Chicago
Name: Name, dtype: object

In [12]:
print(df[df['Age']<30])

    Name  Age      City
0  Alice   25  New York

In [8]:
print(df[df['Age']>30])

      Name  Age     City
2  Chicago   35  Chicago

In [9]:
data = {
    "orderId":[1,2,3,4,5],
    "Protuct": ["Laptop","Smartphone","Headphones","Monitor","Keyborad"],
    "Quantity": [2,5,10,3,6],
    "Price":[1200,800,50,300,100],
    "Date":['2025-01-01','2025-01-02','2025-01-03','2025-01-04','2025-01-05']   
}
s1=pd.DataFrame(data)
print(s1)

   orderId     Protuct  Quantity  Price        Date
0        1      Laptop         2   1200  2025-01-01
1        2  Smartphone         5    800  2025-01-02
2        3  Headphones        10     50  2025-01-03
3        4     Monitor         3    300  2025-01-04
4        5    Keyborad         6    100  2025-01-05

In [10]:
total_sales=s1['Quantity']*s1['Price']
print(total_sales)

0    2400
1    4000
2     500
3     900
4     600
dtype: int64