#to analyes sells data

In [1]:
#import libraries
import pandas as pd 
import numpy as nm

In [2]:

sells_data=[20,140,150,130,150,160,170]

In [3]:
days_of_week=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
s1=pd.Series(data=sells_data,index=days_of_week)
print(s1)

Monday        20
Tuesday      140
Wednesday    150
Thursday     130
Friday       150
Saturday     160
Sunday       170
dtype: int64

# Markdown values update

In [43]:
s1['Monday']=500
print(s1)

Monday       500
Tuesday      140
Wednesday    150
Thursday     130
Friday       150
Saturday     160
Sunday       170
dtype: int64

In [ ]:
s1.str.lower()

TypeError: unbound method str.lower() needs an argument

In [44]:
s1.sort_values()

Thursday     130
Tuesday      140
Wednesday    150
Friday       150
Saturday     160
Sunday       170
Monday       500
dtype: int64

In [45]:
s1.sort_index()

Friday       150
Monday       500
Saturday     160
Sunday       170
Thursday     130
Tuesday      140
Wednesday    150
dtype: int64

# condition with series

In [51]:
s1[s1 >150]

Monday      500
Saturday    160
Sunday      170
dtype: int64

In [52]:
s1[s1==150]

Wednesday    150
Friday       150
dtype: int64

In [18]:
s1 ["Tuesday"]

np.int64(140)

# total sells

# number of dimsion

In [20]:
s1.ndim

1

# shape

In [22]:
s1.shape

(7,)

# data type

In [23]:
s1.dtype

dtype('int64')

# Index

In [24]:
s1.index

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday'],
      dtype='object')

# values

In [25]:
s1.values

array([ 20, 140, 150, 130, 150, 160, 170])

In [14]:
s1.sum()

np.int64(920)

# head

In [27]:
s1.head(3)

Monday        20
Tuesday      140
Wednesday    150
dtype: int64

In [29]:
s1.tail(2)

Saturday    160
Sunday      170
dtype: int64

# Uniqe

In [30]:
s1.unique

<bound method Series.unique of Monday        20
Tuesday      140
Wednesday    150
Thursday     130
Friday       150
Saturday     160
Sunday       170
dtype: int64>

In [32]:
s1.nunique()

6

# total mean

In [30]:
s1.mean()

np.float64(131.42857142857142)

#

In [32]:
s1.idxmax()

'Sunday'

In [33]:
s1.min()

np.int64(20)

In [34]:
s1.idxmin()

'Monday'

In [35]:
s1.describe()

count      7.000000
mean     131.428571
std       50.803075
min       20.000000
25%      135.000000
50%      150.000000
75%      155.000000
max      170.000000
dtype: float64

In [36]:
s1.info()

<class 'pandas.core.series.Series'>
Index: 7 entries, Monday to Sunday
Series name: None
Non-Null Count  Dtype
--------------  -----
7 non-null      int64
dtypes: int64(1)
memory usage: 412.0+ bytes

In [42]:
s1.isnull().sum()

np.int64(0)

# change new index

In [14]:
month="january","feburay","march","april","may","june","july"
s1=pd.Series(data=sells_data,index=month)
print(s1)

january     20
feburay    140
march      150
april      130
may        150
june       160
july       170
dtype: int64

In [5]:
s1[s1>130]

Tuesday      140
Wednesday    150
Friday       150
Saturday     160
Sunday       170
dtype: int64

In [16]:
s1[(s1>130)&(s1<180)]

feburay    140
march      150
may        150
june       160
july       170
dtype: int64